<a class="icon-links icon-arrow-back"  ui-sref="portfolio"></a>
<h1>{{port.portfolioData[3].title}}</h1>
<ul class="port-list" >
  <li ng-repeat="tags in port.portfolioData[3].tags track by $index">{{tags}} <span class="dot">&#8226;</span></li>

</ul>
<p class="port-desc">
 {{port.portfolioData[3].desc}}
 <span>For best experience play on full screen with the sound on</span>
 <span>click the link below to play the game</span>
</p>

<div class="icon-container">
  <div class="inner-box" ng-if="port.portfolioData[3].codedrops">
    <a href="{{port.portfolioData[3].codedrops}}" target="_blank" class="icon-links icon-link"></a>
    <h6>featured on codrops</h6>
  </div>
  <div class="inner-box" ng-if="port.portfolioData[3].codepen">
    <a href="{{port.portfolioData[3].codepen}}" target="_blank" class="icon-links icon-codepen"></a>
    <h6>view on codepen</h6>
  </div>
  <div class="inner-box" ng-if="port.portfolioData[3].site">
    <a class="icon-links icon-site" href="{{port.portfolioData[3].site}}" target="_blank"></a>
    <h6>play game</h6>
  </div>
  <div class="inner-box" ng-if="port.portfolioData[3].github">
    <a class="icon-links icon-github" href="{{port.portfolioData[3].github}}" target="_blank"></a>
    <h6>view on github</h6>
  </div>

</div>
