.home {
  background: url(../images/port-main/header.jpg) center center no-repeat;
  background-size: cover;
  filter: blur(.15em);
&:after {
  @include pseudo;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(227, 227, 227, .1);
}
}

.home-subH1 {
  font-size: .6em;
}

.home-contact {
  margin-top: 50px;
}

.homeNav {
  margin-top: 10px;
}
