// main {
//   position: relative;
//   overflow-x: hidden;
// }

#sideBar {
  background: $sideBar-bg--color;
  animation: $ani-fadeIn;
}

#content {
  background: $content-bg-color;
  animation: $ani-fadeIn;
  overflow-y:scroll;
}

section {
  min-height: 100vh;
}
