@import "resets";
@import "config";
@import "mixins";
@import "template-styles";
@import "portfolio";
@import "about";
@import "home";


.portfolioProjectsNav {
  cursor: pointer;
a  {text-decoration: none;
  color: $black;}
}

body {
  font-family: $font-family;
  font-size: 16px;
  text-transform: uppercase;
  color: $black;
  overflow-x: hidden;
}




//SECTION - ABOUT
//
// .about {
//   h2{
//     transform: translate(0, 0);
//     top: 0;
//     left: 0;
//     position: relative;
//
//     padding: 36px 0 30px 0;
//     font-size: 1.4em;
//     letter-spacing: 0.2em;
//     line-height: 1.2em;
//     text-align: center;
//
//     cursor: default;
//   }
//   p {
//     position: relative;
//     top: 0;
//     left: 0;
//     transform: translate(0,0);
//     padding: 0 10%;
//     text-align: justify;
//     font-size: 1em;
//     letter-spacing: 0.15em;
//     line-height: 1.7em;
//     cursor: default;
//   }
// }

// .dev-container, .design-container {
//   @include flex;
// }
//
// .container-icon-skills {
//   @include flex($direction: row);
// }
//
// .icon-skills {
//   border: 1px solid #292929;
// width: 70px;
// height: 70px;
// text-align: center;
// margin: 20px;
// display: -ms-flexbox;
// display: flex;
// -ms-flex-pack: center;
// justify-content: center;
// -ms-flex-align: center;
// align-items: center;
// -ms-flex-direction: column;
// flex-direction: column;
// top: 0;
// left: 0;
// }
// @import "styles-heart";
