<a class="" ui-sref="portfolio">back</a>
<h1>{{port.portfolioData[0].title}}</h1>
<ul class="port-list" >
  <li ng-repeat="tags in port.portfolioData[0].tags track by $index">{{tags}} <span class="dot">&#8226;</span></li>

</ul>
<p class="port-desc">
 {{port.portfolioData[0].desc}}
    <!-- <span class=" sml-screen-info ">for the best experience view on a larger screen</span> -->
</p>

<!-- <div class="icon-container">
  <div class="inner-box replay">
    <a class="icon-links icon-replay"></a>
    <h6>replay animation</h6>
  </div>
  <div class="inner-box">
    <a href="https://tympanus.net/codrops/collective/collective/" target="_blank" class="icon-links icon-link"></a>
    <h6>featured on codrops</h6>
  </div>
  <div class="inner-box">
    <a href="http://codepen.io/morkett/" target="_blank" class="icon-links icon-codepen"></a>
    <h6>view on codepen</h6>
  </div>
  <div class="inner-box">
    <a class="icon-links icon-github" href="https://github.com/morkett" target="_blank"></a>
    <h6>view on github</h6>
  </div>
</div> -->
