

  <head>
      <!--build:css css/styles.min.css-->
      <link type="text/css" rel="stylesheet" href="css/styles-record.css" />
      <!--endbuild-->


  </head>



    <div class="wrap">

    <img class="bkd" id="player" src="images/player-2.png" alt="">
    <img class="bkd" id="record" src="images/record-2.png" alt="">
    <img class="bkd" id="needle" src="images/needle-2.png" alt="">
    <p>
      Click Record Players Arm </br>To Turn record on/off.
    </p>
    <div class="bkd">
    <div class="shadow"></div>
    </div>
    <div class="bkd">
    <div class="btn-on"></div>
  </div>
    <div class="bkd">
    <div class="btn-off"></div>
  </div>

</div>
<audio class="play-1" src="assets/player-sound.wav" loop></audio>
<audio class="play-2" src="assets/Any-Colour-You-Like.mp3" loop></audio>
