<div ng-controller="AboutController as about" class="about">
  <section id="{{about.aboutInfo.anchor}}">
    <h2>{{about.aboutInfo.title}}</h2>
    <p>{{about.aboutInfo.desc}}</p>
  </section>
  <section id="{{about.aboutDev.anchor}}">
    <h2>{{about.aboutDev.title}}</h2>
    <ul class="about-icon-container">
      <li class="about-icon" ng-repeat="list in about.aboutDev.list">
        {{list}}
      </li>
    </ul>
    <p>{{about.aboutDev.desc}}</p>

    <h2>{{about.aboutDesign.title}}</h2>
    <ul class="about-icon-container">
      <li class="about-icon" ng-repeat="list in about.aboutDesign.list">
        {{list}}
      </li>
    </ul>
    <p>{{about.aboutDesign.desc}}</p>
  </section>
</div>
