<div ng-controller="AboutController as about" class="about">
  <section id="{{about.aboutInfo.anchor}}">
    <h2>{{about.aboutInfo.title}}</h2>
    <p>{{about.aboutInfo.desc}}</p>
    <ul class="contact">
      <li>
        <a href="{{about.aboutInfo.codepen}}" target="_blank" class="{{about.aboutInfo.list[0]}}"></a>{{about.aboutInfo.list[0]}}</li>
      <li>
        <a href="{{about.aboutInfo.github}}" target="_blank" class="{{about.aboutInfo.list[1]}}"></a>{{about.aboutInfo.list[1]}}</li>
      <li>
        <a href="mailto:{{about.aboutInfo.email}}" class="{{about.aboutInfo.list[2]}}"></a>{{about.aboutInfo.list[2]}}</li>
      <li>
        <a href="images/{{about.aboutInfo.cv}}" target="_blank" class="{{about.aboutInfo.list[3]}}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewbox="0 0 32 32">
            <path fill="#292929" d="M27 0h-24c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h24c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM26 28h-22v-24h22v24zM8 18h14v2h-14zM8 22h14v2h-14zM10 9c0-1.657 1.343-3 3-3s3 1.343 3 3c0 1.657-1.343 3-3 3s-3-1.343-3-3zM15 12h-4c-1.65 0-3 0.9-3 2v2h10v-2c0-1.1-1.35-2-3-2z"></path>
            </svg></a>{{about.aboutInfo.list[3]}}</li>
    </ul>
  </section>
  <section id="{{about.aboutDev.anchor}}">
    <h2>{{about.aboutDev.title}}</h2>
    <ul class="about-icon-container">
      <li class="about-icon" ng-repeat="list in about.aboutDev.list">
        {{list}}
      </li>
    </ul>
    <p>{{about.aboutDev.desc}}</p>

    <h2>{{about.aboutDesign.title}}</h2>
    <ul class="about-icon-container">
      <li class="about-icon" ng-repeat="list in about.aboutDesign.list">
        {{list}}
      </li>
    </ul>
    <p>{{about.aboutDesign.desc}}</p>
  </section>
</div>
