
<aside>
  <h1>Portfolio</h1>
          <ul class="portfolioProjectsNav">
            <li><a ng-click="port.scrollTo('heart')">beating heart</a></li>
            <span>&#8226;</span>
            <li><a ng-click="port.scrollTo('clocks')">realtime clock</a></li>
            <span>&#8226;</span>
            <li><a ng-click="port.scrollTo('todo')">todo list</a></li>
            <span>&#8226;</span>
            <li><a ng-click="port.scrollTo('game')">game</a></li>
            <span>&#8226;</span>
            <li><a ng-click="port.scrollTo('d2e')">down to earth</a></li>
          </ul>
</aside>

<section>
  <h2 class="portfolio-title" id="heart">Beating Heart</h2>
</section>
<section>
  <h2 class="portfolio-title" id="clocks">Realtime Clock</h2>
</section>
<section>
  <h2 class="portfolio-title" id="todo">Todo List</h2>
</section>
<section id="game">
  <h2 class="portfolio-title">Game</h2>
</section>
<section>
  <h2 class="portfolio-title" id="d2e">Down To Earth</h2>
</section>
