<md-sidebar id="sideBar"  flex="33" flex-xs="100">
  <h1>Portfolio</h1>
          <ul class="portfolioProjectsNav" hide-gt-sm layout="column">
            <li ng-repeat="project in port.portfolioData">
            <a ng-click="port.scrollTo(project.anchor)">{{project.title}}</a>
            <span>&#8226;</span>
            </li>
          </ul>
</md-sidebar>


<md-content id="content" flex="66" flex-xs="100">

<section ng-repeat="project in port.portfolioData" id="{{project.anchor}}">
  <h2 class="portfolio-title" id="heart">{{project.title}}</h2>
  <p>view project</p>
  <img src="../images/{{project.img}}" alt="{{project.title}}">
</section>

</md-content>
