<a class="icon-links icon-arrow-back"  ui-sref="portfolio"></a>
<h1>{{port.portfolioData[1].title}}</h1>
<ul class="port-list" >
  <li ng-repeat="tags in port.portfolioData[1].tags track by $index">{{tags}} <span class="dot">&#8226;</span></li>

</ul>
<p class="port-desc">
 {{port.portfolioData[1].desc}}
<span>click the speaker icon to toggle sound</span>
</p>

<div class="icon-container">
  <div class="inner-box" ng-if="port.portfolioData[1].codedrops">
    <a href="{{port.portfolioData[1].codedrops}}" target="_blank" class="icon-links icon-link"></a>
    <h6>featured on codrops</h6>
  </div>
  <div class="inner-box">
    <a href="{{port.portfolioData[1].codepen}}" target="_blank" class="icon-links icon-codepen"></a>
    <h6>view on codepen</h6>
  </div>
  <div class="inner-box">
    <a class="icon-links icon-github" href="{{port.portfolioData[1].github}}" target="_blank"></a>
    <h6>view on github</h6>
  </div>
</div>
