
  <head>
      <!--build:css css/styles.min.css-->
      <link type="text/css" rel="stylesheet" href="css/styles-clocks.css" />
      <!--endbuild-->
  </head>
    <div class="wrap">
      <div class="clock">
        <div class="hour-hand" >
          <img src="images/hour-hand.png" id="js-hours" />
        </div>
        <div class="min-hand" >
          <img src="images/min-hand.png" id="js-minutes"/>
        </div>
        <div class="sec-hand">
          <img src="images/second-hand.png" id="js-seconds"/>
        </div>

        <div class="shadow-clock"></div>


    </div>

  </div>
